.bodyimg {
  background-image: url("/img/beranda.jpg");
  background-size: 100%;
}

.bodycolor {
  background-color: #f5f5f5;
  background-size: auto;
}

.menupage {
  text-decoration: none;
  color: white;
}

.menupage-active {
  text-decoration: none;
  color: #26b2ab;
}

.nav-bgcolor {
  background-color: black;
}

.loginmenu {
  background-color: white;
  color: #26b2ab;
  text-decoration: none;
}

.menupage:hover {
  text-decoration: none;
  color: white;
}

.loginmenu:hover,
.menupage-active:hover {
  text-decoration: none;
  color: #26b2ab;
}

.button1 {
  background-color: #26b2ab;
  color: white;
  text-decoration: none;
}

.button1:hover {
  background-color: #158d87;
  color: white;
  text-decoration: none;
}

.button2 {
  color: #26b2ab;
  background-color: white;
  text-decoration: none;
}

.textputih {
  color: white;
}

.texthijau {
  color: #26b2ab;
  text-decoration: none;
}

.texthijau:hover {
  color: #26b2ab;
}

.texthitam {
  color: black;
  text-decoration: none;
}

.texthitam:hover {
  color: #26b2ab;
}

.bghijau {
  background-color: #26b2ab;
}

.bgradius {
  border-radius: 8px;
}

.animmenu {
  transition: 0.3s ease-in;
}

.animmenu:hover {
  transform: scale(1.1);
}

footer {
  background-color: black;
  color: white;
  text-decoration: none;
  clear: both;
  position: relative;
}
